h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3{
  text-align: center;
}

.part1{
  align-content: center;
  background-image: url(../img/2.jpg) ;
  height: 100%;
  width: 100%;
  color: white;
  word-spacing: 15px;
  letter-spacing: 3px;
  background-repeat: no-repeat;
  background-size: cover;




}

.img-circle{
  margin-left: 45%;
  margin-top: 5%;

   border-radius: 1000%;

}

.part2{
  width: 500px;
  height:500px;


}


.a{
  float: right;
  width:50%;
  height: 25%;


}

.b{
  float: left;
  width: 50%;
  height: 25%;

}

.c{
  float: right;
  width: 50%;
  height: 25%;

}

.d{
  float: left;
  width: 50%;
  height: 25%;
  

}
